/*----------Colors------*/
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-gray-dark: #777;
$color-gray-dark-2: #333333;
$color-gray-light-1: #f7f7f7;
$color-white: #fff;
$color-black: #000;

$color-secondery-light: #ffb900;
$color-secondery-dark: #ff7730;

$color-tertiary-light: #299bff;
$color-tertiary-dark: #5643fa;

/*----------Grid------*/
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

/*-------Font------*/
$default-font-size: 1.6rem;
