.navigation {
	//---------------------ICON------
	&__icon {
		position: relative;
		margin: 3.5rem 0 0 2rem;

		&,
		&::before,
		&::after {
			width: 3rem;
			height: 2px;
			background-color: $color-gray-dark;
			display: inline-block;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;

			z-index: 500;
			transition: all 0.2s;
		}
		&::before {
			top: -0.8rem;
		}
		&::after {
			top: 0.8rem;
		}
	}

	&__checkbox:checked + &__button > &__icon {
		background-color: transparent;
		&::before {
			transform: rotateZ(135deg);
			top: 0rem;
		}
		&::after {
			transform: rotateZ(-135deg);
			top: 0rem;
		}
	}

	&__button:hover &__icon {
		&::before {
			top: -1rem;
		}
		&::after {
			top: 1rem;
		}
	}

	//------------------BUTTON
	&__button {
		background-color: $color-white;
		height: 7rem;
		width: 7rem;
		border-radius: 50%;
		position: fixed;
		top: 6rem;
		right: 6rem;
		cursor: pointer;

		z-index: 400;
		box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
		@include respond(tab-port) {
			top: 4.5rem;
			right: 4.5rem;
		}
		@include respond(phone) {
			top: 3rem;
			right: 3rem;
		}
	}

	//------------------BACKGROUND

	&__background {
		height: 6rem;
		width: 6rem;
		border-radius: 50%;
		position: fixed;
		top: 6.5rem;
		right: 6.5rem;
		background-image: radial-gradient($color-primary-light, $color-primary-dark);
		z-index: 200;
		transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);

		@include respond(tab-port) {
			top: 5rem;
			right: 5rem;
		}
		@include respond(phone) {
			top: 3.5rem;
			right: 3.5rem;
		}
	}

	//------------------NAV
	&__nav {
		height: 100vh;
		width: 0;
		z-index: 300;
		position: fixed;
		top: 0;
		right: 0;
		opacity: 0;
		transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
	}

	//----------------CHECKBOX
	&__checkbox {
		display: none;
	}
	&__checkbox:checked ~ &__nav {
		opacity: 1;
		width: 100%;
	}

	&__checkbox:checked ~ &__background {
		transform: scale(80);
	}
	&__checkbox:checked ~ &__nav &__list {
		position: absolute;
	}

	//------------------LIST

	&__list {
		list-style: none;

		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
	&__item {
		margin: 1rem;
	}
	&__link {
		&:link,
		&:visited {
			font-size: 3rem;
			font-weight: 300;
			color: $color-white;
			text-decoration: none;
			text-transform: uppercase;
			padding: 1rem 2rem;
			background-image: linear-gradient(120deg, transparent 50%, $color-white 50%);
			background-size: 220%;
			transition: all 0.3s ease-in;
			display: inline-block;
		}

		&:hover {
			color: $color-primary;
			background-position: 100%;
			transform: translateX(1rem);
		}
	}
}
