body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: $color-gray-dark;
	padding: 3rem;
	box-sizing: border-box;

	@include respond(tab-port) {
		padding: 0rem;
	}
}

.heading-primary {
	color: $color-white;
	text-transform: uppercase;
	backface-visibility: hidden;
	margin-bottom: 6rem;
	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 3.5rem;
		animation: moveInLeft 1s;

		@include respond(phone) {
			font-size: 5rem;
			letter-spacing: 1.5rem;
		}
	}
	&--sub {
		display: block;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 1.7rem;
		animation: moveInRight 1s;

		@include respond(phone) {
			letter-spacing: 0.5rem;
		}
	}
}

.heading-secondery {
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 700;
	background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8));
	display: inline-block;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	letter-spacing: 0.2rem;
	transition: all 0.2s;

	@include respond(tab-port) {
		font-size: 3rem;
	}

	@include respond(phone) {
		font-size: 2.5rem;
	}

	&:hover {
		transform: skewY(2deg) skewX(15deg) scale(1.1);
		text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
	}
}
.heading-tertiary {
	font-size: $default-font-size;
	font-weight: 700;
	text-transform: uppercase;
}
.paragraph {
	font-size: $default-font-size;
	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}
